@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutDashBoard.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body" style="width: 100%; max-width: 500px;">
                    <h4 class="card-title">Thay đổi mật khẩu</h4>
                    <form id="form-1">
                        <div class="form-body">
                            <div class="form-group">
                                <label for="CurPassword">Mật khẩu hiện tại</label>
                                <input type="password" class="form-control w-100" id="CurPassword" name="CurPassword" />
                                <span class="form-message"></span>
                            </div>
                            <div class="form-group">
                                <label for="NewPassword">Mật khẩu mới</label>
                                <input type="password" class="form-control w-100" id="NewPassword" name="NewPassword" />
                                <span class="form-message"></span>
                            </div>
                            <div class="form-group">
                                <label for="ConfirmPassword">Nhập lại mật khẩu mới</label>
                                <input type="password" class="form-control w-100" id="ConfirmPassword" name="ConfirmPassword" />
                                <span class="form-message"></span>
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="text-right">
                                <button type="submit" class="btn btn-info btn-submit">Thay đổi</button>
                                <a href="/Admin/Dashboard/Index" class="btn btn-dark">Hủy</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .form-group input {
        width: 50%
    }
</style>
<script src="~/Scripts/validator.js"></script>
<script>
    Validator({
        formElement: '#form-1',
        formGroup: '.form-group',
        formMessage: '.form-message',
        rules: [

            Validator.isRequired('#CurPassword'),
            Validator.isRequired('#NewPassword'),
            Validator.isRequired('#ConfirmPassword'),
            Validator.minLength('#NewPassword', 6),
            Validator.isConfirmed('#ConfirmPassword', function () {
                return document.querySelector('#form-1 #NewPassword').value;
            }, 'Nhập lại mật khẩu không giống nhau')
        ],
    });

    document.querySelector("#form-1").onsubmit = function (e) {
        e.preventDefault()
        const formData = new FormData(this)

        const toast = $('#toast').dxToast({ displayTime: 2000 }).dxToast('instance');
        axios({
            url: '/Admin/DashBoard/ChangePassword',
            method: "POST",
            data: formData
        }).then(() => {
            toast.option({ message: "Thực hiện thành công!!!", type: "success" });
            toast.show();
            this.reset()
        }).catch(console.log)
    }
</script>