
<div class="cms-icon-menu">
    <div class="row row-cols-2 row-cols-md-5 row-cols-lg-auto cms-icon-menu text-center justify-content-between" >
        <div class="col my-3">
            <div>
                <a href="">
                    <img src="/assets/images/IconSieuSaleSinhNhat_120x120.png" alt="">
                </a>
            </div>
            <div class="cms-icon-menu-item-name">Siêu Sinh Nhật</div>
        </div>
        <div class="col my-3">
            <div>
                <a href="">
                    <img src="/assets/images/Icon_FlashSale_Thuong_120x120.png" alt="">
                </a>
            </div>
            <div class="cms-icon-menu-item-name">Flash Sale</div>
        </div>
        <div class="col my-3">
            <div>
                <a href="">
                    <img src="/assets/images/Icon_MaGiamGia_8px_1.png" alt="">
                </a>
            </div>
            <div class="cms-icon-menu-item-name">Mã Giảm Giá</div>
        </div>
        <div class="col my-3">
            <div>
                <a href="">
                    <img src="/assets/images/Icon_SanPhamMoi_8px_1.png" alt="">
                </a>
            </div>
            <div class="cms-icon-menu-item-name">
                Sản Phẩm Mới
            </div>
        </div>
    </div>
</div>
